@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

html,
body {
  box-sizing: border-box;
  margin:0;
}

a{
    text-decoration:none ;
}

nav a {
  text-decoration: none;

  display: inline-block;
  position: relative;
}
nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #002fa7;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after {
  width: 100%;
  left: 0;
}


/* NAVBAR */

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35vh, auto));
  justify-items: center;
  padding: 1rem;
}

.logo {
  font-size: 5vh;
  font-family: "Nothing You Could Do", "Times New Roman";
  color: #000000;
  font-weight:700
}

.shop {
  font-size: 5vh;
  font-family: "Times New Roman";
  font-weight: 600;
  color: #000000;
}

.bg-container {
  height: 80vh;
}

.bg-img {
  background-color:#002fa7;
  background-size: cover;
  height:100%;
  width:100%;
}

.bg-title {
  font-size: 15rem;
  font-family: "Roboto", "Times New Roman";
  font-weight: 700;
  text-align: right;
  color: rgb(255, 255, 255);
  margin-right:5%;



}

.bg-subtitle {
  font-size: 8rem;
  font-family: "Roboto", "Times New Roman";
  font-weight: 700;
  text-align: right;
  color: rgb(255, 255, 255);
}

.container {
  margin: 5%;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35vh, auto));
  grid-gap: 3%;
}

.product-image img {
  width: 100%;
}

.product-title {
  text-align: center;
  color: #002fa7;
  font-weight: 600;
  font-size:4vh;
}

.product-price {
  text-align: center;
  color: #002fa7;
}
