@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");


:root {
  --colour-primary: rgb(231, 43, 43);
  --color-secondary: #ffffff;
  --klein-blue-colour:#002fa7;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 2);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 2vh;
  --font-primary: 'Roboto', sans-serif;
  --font-heading: 'Roboto', serif;
  --font-size: 1vh;
  --line-height: 1.5;
}

html,
body {
  box-sizing: border-box;
  background-color: var(--color-secondary);
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  overflow-x: hidden;
  margin:0;
}

a{
  text-decoration: none;
}

/* Underline styling for navbar */

nav a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--klein-blue-colour);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after {
  width: 100%;
  height:5%;
  left: 0;
}

/* NAVBAR + Visible Nav */

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35vh, auto));
  justify-items: center;
  padding: 2rem;
  background-color: var(--color-secondary);
}

.logo {
  font-size: 5vh;
  font-family: "Roboto", "Times New Roman";
  color: var(--colour-primary);
  font-weight: 700;
  @media (max-width: 375px) {
    font-size:4vh;
  }
}

.dot {
  color: var(--colour-primary)
}

.shop {
  font-size: 5vh;
  font-family: "Roboto";
  font-weight:700;
  color: var(--klein-blue-colour);
  cursor: pointer;
  text-transform: uppercase;
  @media (max-width:1024px) {
    display:none;
  }
}


/* BURGER.JS */


.main-navigation-toggle {
  position: fixed;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  
  
  + label {
    position: fixed;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 1.5);
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    padding:1vh;
    background: var(--color-secondary)
  }
}

.icon--menu-toggle {
  --size: calc(1rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
}

.icon-group {
  transform: translateX(0);
  transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: var(--colour-primary);
}

.icon--close {
  stroke: var(--colour-primary);
  transform: translateX(-100%);
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  z-index: 1;
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    transform-origin: 0 50%;
    z-index: -1;
  }
  
  ul {
    font-size: 10vmin;
    font-family: var(--font-heading);
    width: 100%;
  }
  
  li {
    padding-top:2%;
    --border-size: 0;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    font-family: 'Finger Paint';
    
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--border-size);
      background-color: var(--colour-primary);
      transform-origin: 0 50%;
      transform: translateX(-100%) skew(15deg);
    }
  }
  
  a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--klein-blue-colour);
    line-height: 1.5;
    text-decoration: none;
    user-select: none;
    padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
    transform: translateY(100%);
  }
}

.main-content {
  margin: 6rem auto;
  max-width: 70ch;
  padding: 0 calc(var(--space) * 2);
  transform: translateX(0);
  transition: transform calc(var(--nav-duration) * 2) var(--ease);
  
  > * + * {
    margin-top: calc(var(--space) * var(--line-height));
  }
}

.main-navigation-toggle:checked {
  ~ label .icon--menu-toggle {    
    .icon-group {
      transform: translateX(100%);
    }
  }
  
  ~ .main-content {
    transform: translateX(10%);
  }
  
  ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);
    
    &:after {
      animation: nav-bg var(--nav-duration) var(--ease) forwards;
    }
    
    li:after {
      animation: nav-line var(--duration) var(--ease) forwards;
    }
    
    a {
      animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
    }
    
    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        &:after, a {
          animation-delay: calc((var(--duration) / 2) * #{$i} * 0.125);
        }
      }
    }
  }
}

@keyframes nav-bg {
  from { transform: translateX(-100%) skewX(-15deg) }
  to { transform: translateX(0) }
}

@keyframes nav-line {
  0%   { transform: scaleX(0); transform-origin: 0 50%; }
  35%  { transform: scaleX(1.001); transform-origin: 0 50%; }
  65%  { transform: scaleX(1.001); transform-origin: 100% 50%; }
  100% { transform: scaleX(0); transform-origin: 100% 50%; }
}

@keyframes link-appear {
  0%, 25%   { transform: translateY(100%); }
  50%, 100% { transform: translateY(0); }
}
  
/* HomePage.js */

.bg-container {
  height: 90vh;
}

.bg-img {
  background-color: var(--klein-blue-colour);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.bg-title {
  font-size: 30vh;
  font-family: "Roboto", "Times New Roman";
  font-weight: 700;
  text-align: right;
  color: var(--color-secondary);
  margin-right: 5%;
}

.bg-subtitle {
  font-size: 9vmax;
  font-family: "Roboto", "Times New Roman";
  font-weight: 700;
  text-align: right;
  color: var(--color-secondary);
}

/* ProductsPage.js */

.container {
  margin: 0 5% 5% 5%;
}

.main-grid {
  margin-top:5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45vh, 4fr));
  grid-gap: 3%;
}


.product-image img {
  width: 100%;
}

.product-title {
  text-align: center;
  color: #000000;
  font-weight: 600;
  font-size: 3vh;
  font-family: "Roboto", "Times New Roman", Times, serif;
}

.product-price {
  text-align: center;
  color: #002fa7;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-size:3vh;
}

/* About.js */

.bg-about {
  margin: 5%;
  background-color: #002fa7;
  padding-bottom: 5%;
  
}

.grid-about {
  margin:5%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "ab . ."
    "tx . pp"
    "tx . pp";

  @media (max-width:1024px) {
    grid-template-areas:
    "ab ."
    "tx ."
    "pp pp";
  }
}

.about-small {
  font-size: 4vh
}

.about-ab {
  grid-area: ab;
  font-size: 12vh;
  font-weight: 700;
  color:var(--color-secondary);
}

.about-tx {
  margin-top:5%;
  margin-right:5%;
  grid-area: tx;
  font-size: 4vh;
  font-weight:500;
  font-family: 'Roboto';
  color:var(--color-secondary);

}

#myVideo {
  grid-area: pp;
  height:70vh;
  max-width:100%;
}

/* Grid.js */

main {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
  object-fit: cover;
  
}

.col {
  display: flex;
  text-align: justify;
  text-justify: inter-word;
  padding-top:30%;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 30%;
  max-width: 33%;
  padding: 0 5px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 95%;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Contact.js */

.contact {
  margin-top:10%;
  grid-template-rows: 1fr;
}

.contact-title{
  font-size:5vh;
  text-align:center;
}

.contact-subtitle{
  margin-top:2%;
  font-size:3vh;
  text-align:center;
}

.contact-email {
  margin-top:5%;
  margin-bottom:10%;
  font-size:8vh;
  font-family:'Finger Paint';
  color:var(--klein-blue-colour);
  text-transform: uppercase;
  text-align:center;
  @media (max-width:800px) {
    font-size:5vw;
    
  }
}

/* Spinner */
.loader,
.loader:before,
.loader:after {
  background: var(--klein-blue-colour);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--klein-blue-colour);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
